.even-columns{
    display: flex;
    gap: 1em;
}

@media (max-width: 600px) {
    .even-columns{
        flex-wrap: wrap;
    }
}

.even-columns > * {
    flex-basis: 100%;
}

.grid-ish{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width: 600px) {
    .grid-ish{
        flex-wrap: wrap;
    }
}

.grid-ish > * {
    flex: 1 1 33%;
}

.content-sidebar{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width: 600px) {
    .content-sidebar{
        flex-wrap: wrap;
    }
}


.content-sidebar > *:nth-child(1){
    flex: 1 1 70%;
    min-width: 15ch;
} 

.content-sidebar > *:nth-child(2){
    flex: 1 1 25%;
    min-width: 15ch;
}

:root{
    --ff-primary: basic-sans , sans-serif;
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
    --spacer: 1rem;
}

*, *::before , *::after {
    box-sizing: border-box;
}

h1,h2,h3,p{
    margin: 0;
    text-align: center;
}

.flow > * + *{
    margin-top: var(--flow-space);
}

body{
    font-family: var(--ff-primary);
    min-height: 100vh;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background-color: var(--clr-bg);
}

a{
    color: var(--clr-primary);
}

.content{
    width: 70vw;
    margin: 3rem auto;
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
}

.col{
    padding: 3em;
    background: rgba(0, 0, 0 , 0.1);
    border: 3px solid rgba(0, 0, 0 , 0.2);
}

.title{
    font-weight: 900;
    color: var(--clr-primary);
}